{% include "header.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/utils.html' import render_messages %}



<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('projects') }}"><i class="fas fa-code icon"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/zohrlaff" target="_blank" rel="noopener noreferrer"><i class="fab fa-github icon"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('main') }}"><i class="fas fa-home icon"></i></a>
  </li>
</ul>

<h1 class="bio">Get In Contact</h1>

<div class="form-group contact-form">
  {{ render_form(form, action="/contact", method="POST", button_style="dark", button_size="block") }}
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="alert alert-success" id="alert">{{ message }}</p>
    {% endfor %}
    {% endif %}
  {% endwith %}
</div>


<div class="footer">
  {% include "footer.html" %}
</div>