{% include "header.html" %}

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('main') }}"><i class="fas fa-home icon"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/zohrlaff" target="_blank" rel="noopener noreferrer"><i class="fab fa-github icon"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('contact') }}"><i class="far fa-envelope icon"></i></a>
  </li>
</ul>

<h1 class="bio">Projects</h1>

<div class="container projects">
  <div class="row">
    <div class="col">Text to Morse code<img src="{{ url_for('static', filename='images/morse-code.png') }}" alt="telegraph" class="project-icon"></div>
    <div class="col">Project 2</div>
    <div class="col">Project 3</div>
    <div class="col">Project 4</div>
  </div>
</div>

<div class="footer">
  {% include "footer.html" %}
</div>